<div class="article  ">
    <div class="row h-100 ">
        {{!-- columna izquierda --}}
   
        <div class="col-3 bg-warning">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
           {{!-- columna derecha --}}
        
        <div class="col-9 d-flex " >
            <div class="row"> 
            {{!-- cada vez que hago un row el mismo inicia con 12 espacios disponibles --}}
            <div class="col-4 bg-danger">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-danger">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-danger">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-danger">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
            <div class="col-4 bg-info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
</div>
</div>
</div>