<div class="row h-100 ">
    <div class="row ">
        <div class="col-3 bg-danger">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
        <div class="col-9 bg-info " >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis accusamus dolorem consequuntur autem aperiam. Officiis, voluptates qui, dolorum sequi repudiandae laboriosam unde in deserunt enim porro dicta neque, harum recusandae.</div>
    </div>
    <div class="row ">
    <div class="col-3 bg-warning">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
        <div class="col-9 bg-black " >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis accusamus dolorem consequuntur autem aperiam. Officiis, voluptates qui, dolorum sequi repudiandae laboriosam unde in deserunt enim porro dicta neque, harum recusandae.</div>
    </div>
    <div class="row ">
      <div class="col-3 bg-danger">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum accusamus consequuntur in aliquid incidunt tempora error unde! Ex eligendi aperiam aliquam doloribus excepturi error eveniet aliquid officiis corporis id!</div>
        <div class="col-9 bg-info " >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis accusamus dolorem consequuntur autem aperiam. Officiis, voluptates qui, dolorum sequi repudiandae laboriosam unde in deserunt enim porro dicta neque, harum recusandae.</div>
    </div>
</div>