<header
  id="headerIndex"
  style="background-image: url(/img/fondo.jpg); background-repeat: no-repeat;background-size: cover; background-attachment:fixed "
>
  <div>
    <h1>Plataforma de Comercio <span> Nombre de la Plataforma</span></h1>
  </div>
</header>