<div class=" container card justify-item-center col-10 mt-4">

  <div class="card-body">

    <h1 class="display-4 "> Pagina para dejar comentarios </h1>

    <p class="lead">
      Deja tu comentario
    </p>

    <hr class="my-4" />
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      voluptatibus aut quae temporibus expedita cum laudantium quasi dicta ab
      ullam natus ipsam deleniti iure distinctio, a asperiores earum eum
      facilis!
    </p>
    

  </div>

</div>