#header {
  padding-top: 10px;
  text-align: left;
  background: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 50%;  
}

ul, li {
  list-style: none;
}
.nav li a {
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;

}

.nav li a:hover {
  background-color: gray;
}
.nav > li {
  float: left;
}
.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px
}
.nav li:hover > ul {
display: block;
}

body {
    background: #8360c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2ebf91,
      #8360c3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2ebf91,
      #8360c3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }




 