  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13112.27781689449!2d-58.40592325!3d-34.7538432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1657769759768!5m2!1ses-419!2sar"
    width="400"
    height="200"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div id="footerUls">
    <ul>
      <li style="border-bottom: 3px solid  " ><a href="">MEDIOS DE PAGO</a></li>
      <li><a href="">Visa</a></li>
      <li><a href="">Mastercard</a></li>
      <li><a href="">Mercado Pago</a></li>
    </ul>

    <ul>
      <li style="border-bottom: 3px solid " ><a href="">SUCURSALES</a></li>
      <li><a href="">Palermo</a></li>
      <li><a href="">Lomas de Zamora</a></li>
      <li><a href="">Ramos Mejia</a></li>
    </ul>
    <ul>
      <li style="border-bottom: 3px solid  " ><a href="">TERMINOS</a></li>
      <li><a href="">Copyright</a></li>
      <li><a href="">Condiciones</a></li>
      <li><a href="">Promociones</a></li>
    </ul>
     <ul>
      <li style="border-bottom: 3px solid  " ><a href="">REDES</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Facebook</a></li>
      <li><a href="">Tik-Tok</a></li>
    </ul>
  </div>

