<section id="header">
 <div>
      <ul class="nav">
        <li><a href="/index"> Inicio</a></li>
        <li><a href="/acercade"> Acerca de</a></li>
        <li><a href="/servicios"> Servicios</a></li>
        <li><a href="/hombres"> Hombre</a>
          <ul>
            <li><a href=""> Calzado</a></li>
            <li><a href=""> Remeras</a></li>
            <li><a href=""> Pantalones</a></li>
            <li><a href=""> Ropa de Abrigo </a></li>
          </ul>
        </li>

        <li><a href="/mujeres"> Mujer</a>
          <ul>
            <li><a href=""> Calzado</a></li>
            <li><a href=""> Remeras</a></li>
            <li><a href=""> Pantalones</a></li>
            <li><a href=""> Ropa de Abrigo </a></li>
          </ul>
        </li>

        <li><a href="/ninios"> Niños/as</a>
          <ul>
            <li><a href=""> Calzado</a></li>
            <li><a href=""> Remeras</a></li>
            <li><a href=""> Pantalones</a></li>
            <li><a href=""> Ropa de Abrigo </a></li>
          </ul>
        </li>

        <li><a href=""> Contacto</a>
          <ul>
            <li><a href=""> Instagram</a></li>
            <li><a href=""> Facebook</a></li>
            <li><a href=""> Telegram</a></li>
            <li><a href=""> Email</a></li>
            <li><a href=""> Sucursal </a></li>
          </ul>
        </li>

      </ul>
 </div>
    <div>
      <label for="busqueda">
        Ingrese el producto que desea buscar
        <input
          placeholder="Ingrese su busqueda"
          type="text"
          name=""
          id="busqueda"
        /></label>
 </div>
 

</section>