<section id="headerNavegacion">
 <div>
      <ul class="nav">
        <li><a href="/"> Inicio</a></li>
        <li><a href="#" > Hombre</a>
          <ul>
            <li><a href="/hombres/calzado"> Calzado</a></li>
            <li><a href="/hombres/indumentaria"> Indumentaria</a></li>
            <li><a href="/hombres/deporte"> Deportes</a></li>
            <li><a href="/hombres/ropaAbrigo"> Ropa de Abrigo </a></li>
          </ul>
        </li>

        <li><a href="#" > Mujer</a>
         <ul>
            <li><a href="/mujeres/calzado"> Calzado</a></li>
            <li><a href="/mujeres/indumentaria"> Indumentaria</a></li>
            <li><a href="/mujeres/deporte"> Deportes</a></li>
            <li><a href="/mujeres/ropaAbrigo"> Ropa de Abrigo </a></li>
          </ul>
        </li>

        <li><a href="#" >Niños/as</a>
     <ul>
            <li><a href="/ninios/calzado"> Calzado</a></li>
            <li><a href="/ninios/indumentaria"> Indumentaria</a></li>
            <li><a href="/ninios/deporte"> Deportes</a></li>
            <li><a href="/ninios/ropaAbrigo"> Ropa de Abrigo </a></li>
          </ul>
        </li>

        <li><a href="#" > Info </a>
          <ul>
            <li><a href=""> Instagram</a></li>
            <li><a href=""> Facebook</a></li>
            <li><a href=""> Telegram</a></li>
            <li><a href=""> Email</a></li>
            <li><a href=""> Sucursal </a></li>
             <li><a href=""> Medios de Pago </a></li>
          </ul>
        </li>

          <li ><a id="pagar" href="/total-carrito"> Ir a Pagar </a>
        </li>

      </ul>
 </div>
    <div>
      <label id="busquedaLabel" for="busqueda">
        Buscar  
        <input
          placeholder="Ingrese su busqueda"
          type="text"
          name=""
          id="busqueda"
        /></label>
 </div>
 

</section>

<div id="botonesFijos" style="position: fixed; bottom:150px; right:20px; border: solid 3px rgb(30, 129, 161)">
  <a href="#"><img style="height: 25px; width: 25px" src="/img/volver.png"alt=""></a>
</div>