<li class="align-middle nav-item dropdown ">
  <a
    class="nav-link dropdown-toggle "
    href="#"
    id="navbarDropdownMenuLink"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Menu
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="/"> Home </a></li>
    <li><a class="dropdown-item" href="/api/comments"> Comentarios </a></li>
    <li><a class="dropdown-item" href="/cuadros"> Cuadros </a></li>
    <hr />
    <li><a class="dropdown-item" href="/users/comments">Deja tu comentario</a></li>

  </ul>
</li>