<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mb-4 mt-4">
    <div class="card-header mt-4 "><h4>
        Comentario
      </h4></div>
    <div class="card-body">
      <form action="/users/comments" method="POST">
        <div class="mb-4">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="name"
          />
        </div>
        <div class="mb-4">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="email@gmail.com"
          />
        </div>
        <div class="mb-4">
          <textarea name="comments" class="form-control" cols="30" rows="10"></textarea>
        
        </div>
        <button class="btn btn-primary w-100" type="submit" > Enviar</button>
      </form>
    </div>
    </div>
  </div>
</div>